*{
  box-sizing: border-box;
  margin : 0 ;
}
.app{
  width:375px; 
  height: 600px;
  border-radius: 6px;
  margin:10px auto ;
  padding:10px ;
  background: url("https://i.pinimg.com/originals/0a/a1/45/0aa14594f276c525c39aac7e5bef21c7.png") no-repeat center ;
  background-size: cover;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}